@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container-form-contact-banner {
  /* background-color: #837544; */
  background-color: #61D081;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-contact-banner {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 0px;
  color: #FFFFFF;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.input-contact-banner::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF;
  opacity: 1;
  /* Firefox */
}

.input-contact-banner:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFFFFF;
}

.input-contact-banner::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #FFFFFF;
}

.input-contact-banner:focus {
  background-color: transparent;
  color: #FFFFFF;
}

.button-contact-banner {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 0px;
  color: #FFFFFF;
  height: 50px;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

.button-contact-banner:hover{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
}

/* .full-width-image-banner {
  background: url('./images/banner.png');
  background-position: center center;
  background-size: cover;
  min-width: 100%;
  height: 250px;
  background-repeat: no-repeat;
} */

.container-banner {
  background-color: #1a170d;
  padding: 30px;
  text-align: center;
}

.fixed-top {
  background-color: rgba(0, 0, 0, .5) !important;
}

.logo-text-navbar {
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF !important;
}

.href-navbar {
  font-size: 23px;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF;
}

.href-navbar:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.full-width-image {
  background: url('./images/imagen-home-principal.jpeg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  opacity: 0.9;
}

.container-row-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.container-info {
  width: 500px;
  padding: 20px;
  margin-left: 50px;
}

.buttons-home {
  border: 2px solid #e5e5e5;
  text-align: center;
  padding: 5px 30px;
  margin: 5px;
  border-radius: 0px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 13px;
}

.buttons-home:hover {
  border: 2px solid #837544;
  background-color: #837544;
}

.title-home-container-principal {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #e5e5e5;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

.text-description-container-principal {
  font-size: 21px;
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Roboto mono', monospace;
  text-transform: uppercase;
}

/* .container-secondary-images {
  height: 100%;
  padding: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
} */

.container-secondary {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.secondary-text {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.secondary-image {
  width: 100px;
  margin-bottom: 10px;
}

.carousel-contenido {
  background-color: #e5e5e5;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  color: #000;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.container-info-cards .card {
  text-align: center;
}

.container-third {
  background-color: #f2f2f2;
  padding-top: 50px;
}

.container-footer {
  background-color: #212121;
  padding-top: 25px;
}

.text-footer {
  font-size: 18px;
  color: #e5e5e5;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  height: 60px;
  text-align: center;
  margin-bottom: 0px;
}

.alice-carousel__dots, .alice-carousel__prev-btn, .alice-carousel__next-btn {
  display: none !important;
}

.title-container-third {
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
  font-family: 'Roboto Mono', monospace;
}

.button-card {
  border: 2px solid #837544 !important;
  border-radius: 0px;
  width: 100%;
  background-color: transparent;
  color: #837544;
}

.button-card:hover {
  background-color: #837544;
}

.title-brokrage {
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
  font-family: 'Roboto Mono', monospace;
}

.text-brokrage {
  font-size: 19px;
  text-align: center;
  padding-top: 30px;
  font-family: 'Roboto Mono', monospace;
}